<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/publications.html#<%= type %>"><%= type.split("_").map(&:capitalize).join(" ") %></a></li>
        <li class="active"><%= publication.title %></li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= publication.title %> - <span id="current-image-title">Front Cover</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <hr />
      <nav>
        <ul class="pager">
          <li><a href="" id="previous-button">Prev Page</a></li>
          <li><a href="" id="next-button">Next Page</a></li>
        </ul>
      </nav>
      <hr />
      <ul>
        <% publication.description.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
      <hr />
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <% publication.paypal_order_details.each do |key, value| %>
        <input type="hidden" name="<%= key %>" value="<%= value %>">
      <% end %>
      <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      <hr />
    </div>
    <div class="col-md-9">
      <hr />
      <div id="current-image">
        <img src="" class="img-thumbnail" alt="Calvary Comics"></a>
      </div>
    </div>
  </div>
</div><!-- /.container -->

<div id="preview_images">
  <% publication.preview_images.each do |name| %>
    <span data-image-name="<%= name %>"></span>
  <% end %>
</div>
<script>
$(function() {
  CalvaryComics.books.init("/images/publications/<%= key %>/");
});
</script>
