---
title: Calvary Comics
---
<div class="container">
  <div id="carousel-comic-books" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-comic-books" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-comic-books" data-slide-to="1"></li>
      <li data-target="#carousel-comic-books" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "carousel/hallelujah.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/glory_to_god.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/soldier_of_the_cross.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/pace.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/marx_lenin_mao.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/puddles_paradise.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/road_to_heaven.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/dave_rover.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/sadhu.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/unshackled.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/erlo.png" %>
      </div>
      <div class="item">
        <%= image_tag "carousel/pace_contrast.png" %>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-comic-books" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-comic-books" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
      <!-- <a href="comics/Hallelujah/index.html" target="_top"><img src="comics/Hallelujah/img/hallelujahlink.jpg" alt="Calvary Comics"></a>
      <a href="comics/Road/index.html" target="_top"><img src="comics/Road/img/Roadlink.jpg" alt="Calvary Comics"></a>
      <a href="comics/MLMC/index.html" target="_top"><img src="comics/MLMC/img/mlmclink.jpg" alt="Calvary Comics"></a>
      <a href="comics/GloryToGod/index.html" target="_top"><img src="comics/GloryToGod/img/GtGlogo.jpg" alt="Calvary Comics"></a>
      <a href="comics/sadhu/index.html" target="_top"><img src="comics/img/sadhucover.gif" alt="Calvary Comics"><br>Click here for an excerpt of the new graphic novel.</a>
      <a href="comics/ejpace/index.html" target="_top"><img src="comics/ejpace/img/pacelink.jpg" alt="Calvary Comics"><br>
      <a href="comics/ejpace/poster.html" target="_top"><img src="comics/ejpace/img/posterlink.jpg" width="508" height="141" alt="Calvary Comics"></a>
      <a href="comics/Roever/index.html" target="_top"><img src="comics/Roever/img/roeverlink.jpg" alt="Calvary Comics"></a>
      <a href="comics/Puddles/index.html" target="_top"><img src="comics/Puddles/img/puddlelink.jpg" alt="Calvary Comics"></a>
      <a href="comics/CLENDENNEN/index.html" target="_top"><img src="comics/CLENDENNEN/img/crosslink.jpg" alt="Calvary Comics"></a>
      <a href="comics/zulu/index.html" target="_top"><img src="comics/zulu/img/zululogo.jpg" alt="Calvary Comics"></a>
      <a href="comics/unshackled/index.html" target="_top"><img src="comics/unshackled/img/haufflogo.jpg" alt="Calvary Comics"></a>
      <a href="comics/ejpace/index.html" target="_top"><img src="comics/ejpace/img/pacelink.jpg" alt="Calvary Comics"><br>Click here for an excerpt of the new biography.</a> -->
