---
title: Ordering
---
<div class="container">
  <div class="row col-md-3 col-sm-12">
    <br /><br /><br />
    <p><strong>Send check or money order to:</strong></p>
    <address>
    Calvary Comics<br>
    P.O. Box 771<br>
    Dover, NJ 07802
    </address>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="business" value="calvary_comics@hotmail.com">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/view_cart.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="display" value="1">
    </form>
  </div>
  <div class="row col-md-9 col-sm-12">
  <% data.publications.each do |type, publications| %>
    <h1><%= type.split("_").map(&:capitalize).join(" ") %></h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Description</th>
          <th>Price Details</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody>
      <% publications.each do |key, publication| %>
        <tr>
    			<td>
    				<img src="images/order/<%= publication.order_image %>" alt="<%= publication.title %>">
    			</td>
    			<td>
    				<strong><%= publication.title %></strong>
    			</td>
    			<td>
    				<ul>
              <% publication.description.each do |item| %>
    					  <li><%= item %></li>
              <% end %>
    				</ul>
    			</td>
    			<td>
    				<ul>
              <% publication.pricing_details.each do |detail| %>
                <li><%= detail %></li>
              <% end %>
    				</ul>
    			</td>
    			<td>
    				<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <% publication.paypal_order_details.each do |key, value| %>
              <input type="hidden" name="<%= key %>" value="<%= value %>">
            <% end %>
    				<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal">
    				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    				</form>
    			</td>
    		</tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
	</div>
</div>
